---
BasedOnStyle: Google
AccessModifierOffset: '-4'
AlignTrailingComments: true
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '120'
FixNamespaceComments: 'false'
IndentWidth: '4'
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: 'true'
NamespaceIndentation: All
TabWidth: '4'
UseTab: Never

...
